/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */

html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Flamenco-Regular';
  src: url('./assets/fonts/Flamenco-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  margin: 0;
  /* display: flex; */
  font-family: 'Flamenco-Regular';
  width: 100%;
  overflow: hidden;
  /* color: #6D5A4D; */
  color: #6f4221;
  /* place-items: center; */
  /* overflow-y: scroll; */
}

p {
  font-family: 'Flamenco-Regular';
  color: #4d4341;
}

.subtitle {
  font-family: 'Poppins-Regular';
  font-size: 1.5rem;
  color: #4d4341;
}

.font-poppins-head {
  font-family: 'Poppins-Bold';
  font-size: 2rem;
}

.add-padding-top {
  padding-top: 5rem;
}

@media only screen and (min-width: 768px) {
  body {
    display: block;
    margin: 0 auto;
    max-width: 780px;
  }
}

a {
  color: #4d4341;
}

.banner-full {
  background-image: url("./assets/images/bg-1.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 60rem;

}

.banner-full-v2 {
  background-image: url("./assets/images/bg-1-2.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 76rem;
  /* height: 60rem; */

}

.banner-full img,
.banner-full-v2 img {
  width: 12rem;
  display: block;
  margin: 0 auto;
}

.banner-full p,
.banner-full-v2 p {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.wrapper-box {
  position: relative;
  width: 100%;
  height: 100vh;
}

.wrap-image {
  margin: 0 auto;
  width: 20rem;
  position: relative;
}



.img-left,
.img-right {
  position: absolute;
  width: 3rem;
  bottom: 0;
}

.img-left {
  left: -7rem;
}

.img-right {
  right: -7rem;
}

.btn {
  font-size: 18px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
  color: #fff;
  margin-top: 1rem;
  background: #82bb42;
  background: linear-gradient(to top, #82bb42 0%, #a5e84e 100%);
  width: 140px;
  transition: all 0.3s;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding: 1rem 2rem;
  text-align: center;
  white-space: nowrap;
}

.wrap-button {
  text-align: center;
  background: #6D5A4D;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
}

.wrap-button:hover {
  transform: scale(1.1);
}

.wrap-button .wrap-img {
  background: white;
  width: 100%;
  border-radius: 9px;
  padding: 1rem;
}

.wrap-button .wrap-img img {
  width: 5rem;
  height: 6rem;

  object-fit: contain;
}

.wrap-button .wrap-text {
  padding: 0.5rem;
  line-height: 1;
  color: white;

  font-size: 1.8rem;
}

.imgProduct {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.divider {
  height: 0.1rem;
  width: 90%;
  /* background: #FFEDDF; */
  background: #6f4221;
  margin: 0 auto;
}

.wrapper-icon {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
}

.wrapper-icon a img {
  width: 3rem;
  margin: 2rem;
}

.text-intro {
  text-align: center;
  font-size: 3rem;
  position: absolute;
  top: -7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  width: 80%;


}

.img-testi {
  margin-top: 4rem;
  padding: 0rem 4rem;
  width: 100%;
}

.column {
  margin-top: -0.5rem;
}

.img-2 {
  margin-top: 2rem;
}

.add-padding {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

img {
  transition: all 0.3s;
}

.link:hover img {
  transform: scale(1.1);
}

.add-text-natural {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 2rem;
}

.grow-scale {
  -webkit-animation-name: grow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: grow;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 480px) {
  .imgProduct {
    width: 100%;
  }

  .font-poppins-head {
    font-size: 1.2rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }

  .divider.add-height {
    height: 0.18rem;
  }

  .add-text-natural {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.4rem;
  }

  .img-2 {
    margin-top: 1rem;
  }

  .text-intro {
    font-size: 2rem;
    top: -3rem;
    width: 100%;
  }

  .banner-full img,
  .banner-full-v2 img {
    width: 7rem;
  }

  .banner-full {
    height: 31rem;
  }

  .banner-full-v2 {
    height: 90vh;
  }

  .banner-full p,
  .banner-full-v2 p {
    padding-bottom: 0.5rem;
    font-size: 13px;
  }

  .wrapper-icon a img {
    width: 2rem;
    margin: 0rem 0.8rem;
  }

  .wrap-button .wrap-img {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  .wrap-button .wrap-img img {
    height: 2.8rem;
    width: 4.5rem;
  }

  .wrap-button .wrap-text {
    font-size: 1rem;
  }

  .wrap-image {
    width: 100%;
  }

  .img-left {
    left: 2rem;
    width: 2rem;
  }

  .img-right {
    right: 2rem;
    width: 2rem;
  }

  .img-testi {
    padding: 1rem;
    margin-top: -1rem;
  }

  .divider {
    height: 0.15rem;
  }

  .wrap-button {
    border-radius: 9px;
  }
}
